@model IEnumerable<Act2Unidad2.Models.ViewModels.RazasViewModel>;
@{
    Layout = "MainLayout";
}

    <section class="nav">
        <h3>ABC de Razas</h3>
        <nav>
            <a href="index.html">Todas</a>
            <a href="index.html">A</a>
            <a href="index.html">B</a>
            <a href="index.html">C</a>
            <a href="index.html">D</a>
            <a href="index.html">E</a>
            <a href="index.html">F</a>
            <a href="index.html">G</a>
            <a href="index.html">H</a>
            <a href="index.html">I</a>
            <a href="index.html">J</a>
            <a href="index.html">K</a>
            <a href="index.html">L</a>
            <a href="index.html">M</a>
            <a href="index.html">N</a>
            <a href="index.html">O</a>
            <a href="index.html">P</a>
            <a href="index.html">Q</a>
            <a href="index.html">R</a>
            <a href="index.html">S</a>
            <a href="index.html">T</a>
            <a href="index.html">U</a>
            <a href="index.html">V</a>
            <a href="index.html">W</a>
            <a href="index.html">X</a>
            <a href="index.html">Y</a>
            <a href="index.html">Z</a>
            <a href="pais.html">Listado por país</a>
        </nav>
    </section>
    <section class="list">
        <ul>
            @foreach (var m in Model)
        {
            <li>
                <a href="raza.html">
                    <img src="~/imgs_perros/@(m.IdRaza)_0.jpg">
                    @m.NombreRaza
                </a>
            </li>
        }
        </ul>
    </section>